.img-title {
  width: 18%;
}

/*
section {
  display: grid;
  grid-template: auto / repeat(3, 33%);
}
*/
article {
  /* border: 1px solid gray;/*
 /* margin: 1em;*/
  /* padding: 0.5em;*/
  text-align: center;
}

/*
main {
  display: flex;
  flex-direction: row;
}
*/

flexbox grid 
layout